{% extends 'base.html' %}


{% block body %}
    <div class="container p-3" style="max-width: 1200px">
        <form method="post" id="search" enctype="multipart/form-data" action="{{ url_for('search') }}">
            <div class="row">
                <div class="col"><label for="start_min">Start min: </label></div>
                <div class="col"><input id="start_min" name="start_min" class="form-control" type="number" min="0">
                </div>
            </div>
            <div class="row">
                <div class="col"><label for="start_max">Start max: </label></div>
                <div class="col"><input id="start_max" name="start_max" class="form-control" type="number" min="0">
                </div>
            </div>
            <div class="row">
                <div class="col"><label for="end_min">End min: </label></div>
                <div class="col"><input id="end_min" name="end_min" class="form-control" type="number" min="0"></div>
            </div>
            <div class="row">
                <div class="col"><label for="end_max">End max: </label></div>
                <div class="col"><input id="end_max" name="end_max" class="form-control" type="number" min="0"></div>
            </div>
            <div class="row">
                <div class="col"><label for="strand">Strand: </label></div>
                <div class="col"><select class="form-control" id="strand" name="strand">
                    {% for strand in values['strand'] %}
                        <option>{{ strand }}</option>
                    {% endfor %}
                </select>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="chromosome">Chromosome: </label>
                </div>
                <div class="col">
                    <select class="form-control" id="chromosome" name="chromosome">
                        {% for chromosome in values['chromosome'] %}
                            <option>{{ chromosome }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="protein_name">Protein name: </label>

                </div>
                <div class="col">
                    <select class="form-control" id="protein_name" name="protein_name">
                        {% for protein_name in values['protein_name'] %}
                            <option>{{ protein_name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col">
                    <button id="submit" type="submit" class="btn btn-primary">
                        <span id="submit_spinner" class="spinner-border spinner-border-sm" role="status"
                              aria-hidden="true"></span>
                        Search
                    </button>
                </div>
                <div class="col">
                    <button id="reset" type="reset" class="btn btn-secondary">Reset</button>
                </div>
            </div>
        </form>

        <div class="row mt-3">
            <div class="col">
                <table id="results" class="table table-striped" style="width: 100%">
                    <thead>
                    <tr>
                        <th>
                            Chromosome
                        </th>
                        <th>
                            Start
                        </th>
                        <th>
                            End
                        </th>
                        <th>
                            Strand
                        </th>
                        <th>
                            Protein name
                        </th>
                        <th>
                            Sequence
                        </th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>

    </div>



{% endblock body %}
